// media queries

// flexbox settings
@mixin flex($direction: row, $justify : flex-start, $align : flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mq($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}