// fonts
$font-headers: 'Dosis', sans-serif;
$font-copy: 'Lato', sans-serif;

// breakpoints


// colors
$color-primary: rgb(88,225,193);
$color-secondary: rgb(84,222,252);
$color-success: rgb(99,204,130);
$color-error: rgb(228,117,122);
$color-warning: rgb(253,120,86);
$color-info: rgb(146,123,193);
$color-copy: #888;
$white: #fff;
$black: #000;

// layout
$gutter: 20px;