.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.grid__row {
  @include flex(column, $justify: stretch);
  margin: $gutter 0;

  @include mq($breakpoint-med) {
    @include flex(row);
  }
}

%grid__col {
  @include flex(column, $align: center);
  width: 100%;
  padding: 0.7em;
  border-radius: 5px;

  margin: 2px 0;

  @include mq($breakpoint-med) {
    margin: 2px ($gutter / 2);
  }
}

@for $i from 1 through 12 {
  .grid__col--#{$i} {
    @extend %grid__col;
    flex: 1 basis-calc($i);
  }
}

@for $i from 1 through 12 {
  .grid__col--#{$i}.theme__colors {
    background-color: darken(#00DAFD, 12% + (2% * $i));

    color: rgba(225,225,225, 0.8);
    font-weight: bold;
    font-family: $font-copy;
  }
}

.horizontal {
  @include mq($breakpoint-med) {
    @include flex(row);
  }
}

.centered {
  @include mq($breakpoint-med) {
    flex-grow: 0;
    margin: 0 auto;
  }
}


