.nav {
  @include flex(column);
  width: 100%;

  @include mq($breakpoint-med) {
    @include flex(row, $justify: flex-end);

    margin-top:40px;
  }
}

nav {
  width: 100%;
}

//nav {
//  width: 100%;
//  @media (min-width:$breakpoint-med) {
//    display: flex;
//    flex-direction: row;
//    justify-content: flex-end;
//    padding-top:30px;
//  }
//
//}

.nav__item {
  text-align: center;
  width: 100%;
  a {
    padding: .8em 1em;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: $black;
  }

  &:first-child a {
    color: $white;
    background-color: $color-primary;
  }

  @include mq($breakpoint-med) {
    display: inline-block;
    width: initial;
  }
}
